version: '3.8'

services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4.0
    container_name: keycloak
    command: start
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HTTP_ENABLED: true
      KC_LOG_LEVEL: INFO
      KEYCLOAK_FRONTEND_URL: http://localhost:8180
      KC_DB: postgres
      # Trỏ đến CSDL 'keycloak_db' mới
      KC_DB_URL: jdbc:postgresql://db:5432/keycloak_db
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: password
    ports:
      - "8888:8080"
    networks:
      - app-network
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      - POSTGRES_DB=user_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - "5432:5432"
    networks:
      - app-network
    volumes: # (Tùy chọn) Giữ data khi restart container
      - postgres-data:/var/lib/postgresql/data
      # create db keycloak-db
      - ./init-keycloak-db.sh:/docker-entrypoint-initdb.d/init-keycloak-db.sh

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data: