server:
  port: 8080 # Đây là cổng chính mà client sẽ gọi vào

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          # Gateway cũng cần xác thực token
          issuer-uri: http://localhost:8888/realms/facebook-clone

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user_service
              uri: http://localhost:8081
              predicates:
                - Path=/api/v1/users/**

            - id: post_service
              uri: http://localhost:8082
              predicates:
                - Path=/api/v1/posts/**

            - id: social_service
              uri: http://localhost:8083
              predicates:
                - Path=/api/v1/social/**

            - id: news-feed-service
              uri: http://localhost:8084
              predicates:
                - Path=/api/v1/feed/**

            # --- CÁC ROUTE SWAGGER (MỚI) ---
            - id: user_service_docs
              uri: http://localhost:8081
              predicates:
                - Path=/v3/api-docs/user-service
              filters:
                - RewritePath=/v3/api-docs/user-service, /v3/api-docs

            - id: post_service_docs
              uri: http://localhost:8082
              predicates:
                - Path=/v3/api-docs/post-service
              filters:
                - RewritePath=/v3/api-docs/post-service, /v3/api-docs

            - id: social_service_docs
              uri: http://localhost:8083
              predicates:
                - Path=/v3/api-docs/social-service
              filters:
                - RewritePath=/v3/api-docs/social-service, /v3/api-docs

            - id: news-feed-service
              uri: http://localhost:8084
              predicates:
                - Path=/v3/api-docs/news-feed-service
              filters:
                - RewritePath=/v3/api-docs/news-feed-service, /v3/api-docs

  # --- CẤU HÌNH SWAGGER UI TỔNG HỢP ---
springdoc:
  swagger-ui:
    # (Thêm cấu hình OAuth y hệt như của user-service)
    oauth:
      client-id: api-gateway
      use-pkce-with-authorization-code-grant: true

    # Tạo menu thả xuống
    urls:
      - name: User Service # Tên hiển thị
        url: /v3/api-docs/user-service # Đường dẫn mà Gateway đã expose
      - name: Post Service
        url: /v3/api-docs/post-service
      - name: Social Service
        url: /v3/api-docs/social-service
      - name: NewFeed Service
        url: /v3/api-docs/news-feed-service

  oauth2: # (Thêm cấu hình OAuth y hệt như của user-service)
    authorization-url: http://localhost:8888/realms/facebook-clone/protocol/openid-connect/auth
    token-url: http://localhost:8888/realms/facebook-clone/protocol/openid-connect/token

logging:
  level:
    root: INFO
    org:
      springframework:
        cloud:
          gateway: TRACE
          gateway.router.RouteDefinitionLocator: INFO
